.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
.closeButtonModal {

    float: right;
}

.addEventButtonClass{
    position: relative;
    margin: auto;
    margin-top: 25% !important;
}

.ReactModalPortal > div {
    z-index: 5;
    background: rgba(3, 3, 7, 0.6) !important;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}