@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        max-width: 320px;
    }
}

.LoginButton {
    background: rgb(142, 23, 255);
    font-weight: bold;
    text-effect: emboss;
    margin: 3em auto;
    width: 40%;
}