.rafael {
    margin: 0 auto;
    font-weight: bold;
    text-effect: emboss;
    margin: 3em auto;
}

.leftSide {
    text-align: center;
    border-radius: 0.2em;
    background: rgba(79, 83, 175, 0.3)
}

.cardField{

}