.searchContainer{
    padding: 1rem;
    margin: 1rem !important;
    text-align: left !important;
    height: fit-content;
    border-radius: 0.2em;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 5px 5px 28px 3px rgba(0,0,0,0.37);
    box-shadow: 5px 5px 28px 3px rgba(0,0,0,0.37);
}
@media all and (min-width: 280px) {
    .Search {
        padding: 60px 0;
        background: rgba(255, 255, 255, 0.3)
    }
}

.noResultSearchClass{
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    margin: 5em auto 0 auto;
}

.myPlayingFieldClassCardSearch{
    margin: 1rem 1rem 0 1rem;
    width: 21em;
}

.searchResults{
    padding: 0 !important;
    margin: 0;
}

.textFieldClassSearch{
    width: 100% !important;

    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.searchButton{
    padding-bottom: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom:1rem !important;
}
